{% extends 'base.html' %} {% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %} 
<h1>Delete post</h1>
<br /><br />
<h3>Delete: {{ post.title }}</h3>

<br/>
<div class="form-group">
<!-- Create form-->
    <form method="POST">
    {% csrf_token %}
    <strong>Are you sure?</strong><br/><br/>
    <button class="btn btn-info">Delete Post!</button>
</div>
{% else %}
Please log in
<a href="{% url 'login' %}" class="btn btn-primary">Back</a>
{% endif %}

{% else %}
Please log in
<a href="{% url 'login' %}" class="btn btn-primary">Back</a>
{% endif %}

  {% endblock %}
</form>